* {
  margin:0;
  padding:0;
}

 .wrapper {
   margin: 0 auto;
    width: 1000px
}

.img-mini{
  width: 300px;
  hight: 200px;
  background-images: url:(../images/mini.jpg);
  background-size: 50%
  background-repeat: no repeat
}
